* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Kaisei HarunoUmi', serif;
  background-color: #bdbdbd1f;
}

.logo {
  color: #e8a540;
}

.nav-item a {
  color: #e8a540;
}

.banner .content h1, .banner .content h2 {
  color: #e8a540;
}

.banner button {
  color: #fff;
}

.about-title,
.skills-title,
.projects-title,
.contact-title {
  color: #d0871a;
}

.about-title::after,
.skills-title::after,
.projects-title::after,
.contact-title::after {
  background-color: #e8a540;
}

.skill-list span {
  color: #e8a540;
}

header, .banner, section {
  min-width: 1200px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

section {
  padding: 50px 0 0;
}

.bg {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  height: 40px;
}

header {
  height: 50px;
}

header .container {
  background-color: #000;
  height: 100%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

header nav .nav-items .nav-item a {
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  font-size: 18px;
}

header nav .nav-items .nav-item a:hover {
  text-decoration: underline;
}

.banner .container {
  background-image: url("../img/emile-perron-xrVDYZRGdw4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.banner .container .content {
  position: absolute;
  top: 40%;
  left: 3%;
  width: 70%;
}

.banner .container .content h1 {
  font-size: 60px;
}

.banner .container .content h2 {
  font-size: 40px;
}

.banner .container button {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

.banner .container button:hover {
  font-size: 35px;
}

.about .about-title {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  font-size: 24px;
}

.about .about-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 130px;
  height: 1px;
}

.about .box {
  background-color: #e4e4e49e;
  width: 800px;
  margin: auto;
  border-radius: 5px;
  padding: 20px;
  -webkit-box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 20px 10px 40px rgba(0, 0, 0, 0.5);
}

.about .box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .box .content img {
  display: block;
  width: 200px;
}

.about .box .content .desc ul {
  list-style-type: none;
}

.about .box .content .desc ul span {
  font-weight: bold;
}

.about .box .content .desc > span {
  display: block;
  width: 520px;
  padding-top: 20px;
}

.skills .skills-title {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  font-size: 24px;
}

.skills .skills-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 130px;
  height: 1px;
}

.skills .skill-lists {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 70px 0;
  justify-items: center;
  margin: 0 70px;
}

.skills .skill-lists .skill-list {
  width: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .skill-lists .skill-list img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  cursor: pointer;
}

.skills .skill-lists .skill-list img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skills .skill-lists .skill-list span {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000;
}

.projects .projects-title {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  font-size: 24px;
}

.projects .projects-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 130px;
  height: 1px;
}

.projects .project-lists {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 0;
  justify-items: center;
  list-style-type: none;
  border-radius: 10px;
}

.projects .project-lists .project-list {
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.projects .project-lists .project-list:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.projects .project-lists .project-list a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.projects .project-lists .proj_01 {
  background-image: url("../img/proj/innomerce.PNG");
}

.projects .project-lists .proj_02 {
  background-image: url("../img/proj/kanter.PNG");
}

.projects .project-lists .proj_03 {
  background-image: url("../img/proj/auditors.PNG");
}

.projects .project-lists .proj_04 {
  background-image: url("../img/proj/mepdc.PNG");
}

.projects .project-lists .proj_05 {
  background-image: url("../img/proj/rpc.PNG");
}

.projects .project-lists .proj_06 {
  background-image: url("../img/proj/game.PNG");
}

.projects .project-lists .proj_07 {
  background-image: url("../img/proj/move-proj.PNG");
}

.projects .project-lists .proj_08 {
  background-image: url("../img/proj/cost.PNG");
}

.contact .contact-title {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  font-size: 24px;
}

.contact .contact-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 130px;
  height: 1px;
}

.contact .contact-lists {
  list-style-type: none;
  text-align: center;
  padding: 35px 20px;
  margin: 0 auto 100px;
  width: 600px;
  border: 1px solid lightgray;
  background-color: #e4e4e49e;
}

.contact .contact-lists i {
  padding-right: 5px;
}

.contact .contact-lists .social-networks {
  list-style-type: none;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-lists .social-networks li {
  padding: 0 5px;
}

.contact .contact-lists .social-networks li i {
  font-size: 30px;
}

.contact .contact-lists .social-networks li a {
  color: #000;
}

.contact .contact-lists .social-networks li .github:hover {
  color: #00000060;
}

.contact .contact-lists .social-networks li .fb:hover {
  color: #0674e7;
}

.contact .contact-lists .social-networks li .in:hover {
  color: #0077b5;
}
/*# sourceMappingURL=index.css.map */